@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome!</h1>
    <br/>
    <h5>Herzlich Willkommen zu unserem Testprojekt zur Demonstration von <a href="http://entra.microsoft.com/">Entra ID</a>.</h5>
    <br/>
    @if (User.Identity?.IsAuthenticated != true)
    {
        <div class="alert mt-4 mx-auto" style="max-width: 55%; background-color: #e7f3f8; border: 3px solid #6190a3bb; color: black; box-shadow: 0 0 40px rgba(97, 144, 163, 0.4);">
            <b><i class="bi bi-info-circle me-2"></i>Bitte melden Sie sich an, um Prüfungen zu absolvieren oder zu bewerten.</b>
        </div>
    }
</div>
