@page
@model EntraPruefungsApp.Features.Home.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Welcome!</h1>
    <br/>
    <h5>Herzlich Willkommen zu unserem Testprojekt zur Demonstration von <a href="http://entra.microsoft.com/">Entra ID</a>.</h5>
    <br/>
    @if (User.Identity?.IsAuthenticated != true)
    {
        <div class="alert mt-4 mx-auto" style="max-width: 60%; background-color: #6798ac7e; border: 3px solid #6190a3bb; color: white;">
            <b><i class="bi bi-info-circle me-2"></i>Bitte melden Sie sich an, um Prüfungen zu absolvieren oder zu bewerten.</b>
        </div>
    }
</div>
